<% include ./header.ejs %>
<!-- <link href="css/modal.css" rel="stylesheet" type="text/css"/> -->
<body>
  <div id="topbar">
    <div id="leftnav">
      <a href="/">
        <img src="img/home.png" alt="Home">
        <a href="javascript:history.back()">Back</a>
      </a>
    </div>
    <div id="rightnav">
      <a href="/menu">Menu</a>
    </div>
    <div id="title">Albums</div>
  </div>

<% include ./error-log-msg.ejs %>

<div class="searchbox">
  <form action="" method="get">
    <fieldset><input id="search" placeholder="search" onkeyup="searchLib()" type="text" />
    <input id="submit" type="hidden" /></fieldset>
  </form>
</div>

  <% if (item !== undefined) { %>
  <div class="applist" id="queueList">
    <div id="content">
      <ul >
      <% item.forEach(function(item){ %>
        <li id="currentAlbum">
          <img class="image" src="/img/playlist.png" alt="item.station">
          
            <span class="name"><%=item.album%></span>
            <span class="comment"><%=item.artist%></span>
          
            <a href="javascript:void(0);" name="sdsdsa" class="edit" data-_id="<%=item.album %>" data-artist="<%=item.artist %>" data-toggle="modal" data-target="#myModalAdd"><span class="navicon"></span></a>
          <!-- </div> -->
        </li>
      <% }) %>
        <li class="hide" style="border:none">
          <img  src="/img/wdot.png">
        </li>
      </ul>
    </div>
  </div>

  <% include ./player.ejs %>
  <% } %>

  <div  class="modal" id="ModalOpt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
      <div class="modal-body">
      <div class="list">
        <div id="content">
          <ul>
            
            <li id="addToQueue" data-dismiss="modal">
              <div >
                <span class="name">Add to queue</span>
                <span class="arrow"></span>
              </div>
            </li>
          
            <li id="clearAndAdd" data-dismiss="modal">
              <div >
                <span class="name">Clear and Add</span>
                <span class="arrow"></span>
              </div>
            </li>
            <li id="addAndPlay" data-dismiss="modal">
              <div >
                <span class="name">Add and Play</span>
                <span class="arrow"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


  <% include ./footer.ejs %>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/modal.min.js"></script>
<!-- <script src="js/bootstrap-transition.js"></script> -->

<!-- <script src="js/b-modal.js"></script> -->
<script>
$(document).ready(function(){

    var alb = '';

    $('#queueList').on('click','.edit',function(){
      alb = $(this)
      $('#ModalOpt').modal('show');
    });

    $("#addToQueue").click (function(){
        
        // console.log("addToQueue", alb.data('_id'))
        onAddAlbumToQueue(alb.data('_id'),alb.data('artist'),0, 0)
         // $('#ModalOpt').modal('hide');
    })

    $("#clearAndAdd").on('click', function(){
      // console.log("clearAndAdd:", alb.data('_id'))
         onAddAlbumToQueue(alb.data('_id'),alb.data('artist'),0,1)
          // $('#ModalOpt').modal('hide');
    })
        $("#addAndPlay").on('click', function(){
      
           onAddAlbumToQueue(alb.data('_id'),alb.data('artist'),1,0)
       })

})  

</script>
<script>

</script>

</body>
</html>
