<% include ./header.ejs %>

<body>
  <div id="topbar">
    <div id="leftnav">
      <a href="/">
        <img src="img/home.png" alt="Home">
      </a>
    </div>
    <div id="rightnav">
      <a href="/menu">Menu</a>
    </div>
    <div id="title">Artists</div>
  </div>

<% include ./error-log-msg.ejs %>

  <% if (item !== undefined) { %>
  <div class="applist">
    <div id="content">
      <ul>
      <% item.forEach(function(item){ %>
        <li>
          <a href=""><img class="image" src="/img/playlist.png" alt="item.station"></a>
          <div onclick="getPage('/radio')">

            <span class="name"><%=item.Artist%></span>

            <!-- <span class="comment"><%=item.A%></span> -->
            <span class="arrow"></span> 
          </div>
        </li>
      <% }) %>
        <li class="withimage hide" style="border:none">
          <img  src="/img/wdot.png">
        </li>
      </ul>
    </div>
  </div>

  <% include ./player.ejs %>
  <% } %>

  <% include ./footer.ejs %>

</body>
</html>
