<% include ./header.ejs %>

<body>
  <div id="topbar">
    <div id="leftnav">
      <a href="/">
        <img src="img/home.png" alt="Home">
      </a>
    </div>
    <div id="rightnav">
      <a href="/menu">Menu</a>
    </div>
    <div id="title">Artists</div>
  </div>

<% include ./error-log-msg.ejs %>
<div class="searchbox">
  <form action="" method="get">
    <fieldset><input id="search" placeholder="search" onkeyup="searchLib()" type="text" />
    <input id="submit" type="hidden" /></fieldset>
  </form>
</div>

  <% if (item !== undefined) { %>
  <div class="applist">
    <div id="content">
      <ul id="aList">
      <% item.forEach(function(item){ %>
        <li>
          <div onclick='getPage("albums?q=<%=item.artist%>")'>
          <img class="image" src="/img/playlist.png" alt="item.station">
          
            <span class="artistname"><%=item.artist%></span>
            <!-- <span class="comment"><%=item.A%></span> -->
            <span class="arrow"></span> 
          </div>
        </li>
      <% }) %>
        <li class="hide" style="border:none">
          <img  src="/img/wdot.png">
        </li>
      </ul>
    </div>
  </div>

  <% include ./player.ejs %>
  <% } %>

  <% include ./footer.ejs %>
<script>
function searchLib() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('search');
  filter = input.value.toUpperCase();
  ul = document.getElementById("aList");
  li = ul.getElementsByTagName('li');
  console.log(li)

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("span")[0];
    if (a !== undefined) {
      txtValue = a.textContent || a.innerText;
    console.log(txtValue)
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
    }
  }
}
</script>
</body>
</html>
