    <div class="error-message small" id="error-message" style="display:none;" >
      <div class="pure-g error-content">
        <div class="pure-u-1 l-box">
          <span id="err-msg" class="error-heading"></span>
        </div>
      </div>
    </div>
