<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>MPD.FM</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/style.css">

    <style>
      
    </style>
</head>

<body class="list">
    

    <div id="topbar">
        <div id="leftnav">
            <a href="/">
                <img src="img/home.png" alt="Home">
            </a>
        </div>
        <div id="rightnav">
            <a href="/radio">Radio</a>
        </div>
        <div id="title">Menu</div>
    </div>

    <div class="log-content display-none">
    </div>

    <div id="content">
      <ul class="pageitem">
        <li class="menu">
          <a href="/radio">
            <img src="" alt="">
            <span class="name">Radio</span>
            <span class="arrow"></span>
          </a>
        </li>
        <li class="menu"></li>
        <li class="menu"></li>
        <li class="menu"></li>
        <li class="menu"></li>
        <li class="menu"></li>
      </ul>
    
    </div>

<% include ./footer.ejs %>

</body>
</html>
