    
<div class="applist">
  <div id="player-content">
    <div id="player">    
      <ul>
        <li>
          <img class="image" id ="station_logo" src="" alt="item.station">
            <div  onclick="getPage('/')">
              <span class="name" id="station">{{ station name }}</span>
              <span class="comment" id="song">{{ song }}</span>
              <span class="elapsed" id="elapsed">{elapsed}</span>
            </div>
        </li>
      </ul>    
    </div>
  </div>
</div>      