        <div class="pure-g blank-radio">
          <div class="pure-u-1-4 l-box">
            <div class="station-logo">
              <img class="pure-img" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
            </div>
          </div>
          <div class="pure-u-3-4 l-box">
          </div>
        </div>
      </div>
      <div class="player">
        <div class="pure-g player-content">
          <div class="pure-u-1-4 l-box">
            <div class="station-logo">
              <img class="pure-img" id="station_logo" src="" alt="item.station">
              <!-- <img class="pure-img play-button" id="PlayerButton" src="img/pause.svg"> -->
            </div>
          </div>
          <div class="pure-u-3-4 r-box station-text" onclick="getPage('/')">
            <div class="station-text-inside">
              <p class="station-heading" id="station">{{ station name }}</p>
              <p class="clip" id="song">{{ song }}</p>
              <p class="station-heading" id="elapsed">{elapsed}</p>
            </div>
          </div>
        </div>
      </div>